.title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
}

.board {
    display: grid;
}

.status {
    display: inline-block;
    font-size: 20px;
    text-align: right;
}

.reset {
    float: right;
}

.boardStatus {
    margin-bottom: 10px;
}

@media only screen and (max-width: 425px) {
    .title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 350px) {
    .status {
        height: 80px;
        width: 80px;
        font-size: 15px;
        width: 100px;
        text-align: center;
        height: 30px;
        margin-top: 6px;
    }

    .title {
        margin-bottom: 10px;
        font-size: 30px;
    }

    .reset {
        font-size: 15px;
        float: right;
    }
    
    .boardStatus {
        margin: 30px 0 0 0;
    }
}