html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0d0628;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

* {
  color: white;
  box-sizing: border-box;
}